.my-trips-container {
  display: flex;
  justify-content: space-around;
  color: white;
}

.trips-list {
  width: 50%;
}

.trips-status-container {
  display: flex;
  flex-wrap: wrap;
}

.trip-grid {
  display: flex;
  flex-wrap: wrap;
}

.trip-status-title {
  font-size: xx-large;
  margin-left: 3%;
}

.no-trips-message {
  margin-left: 4%;
  font-size: large;
}

.total-spent-container {
  margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 30%;
  padding: 3%;
  font-weight: bolder;
  border-radius: 5%;
}
